<div class="row">
  <div class="col-sm-9">
    <h5 mat-dialog-title>{{ data.dataset.variableName }}</h5>
    <span class="text-muted">
      at {{ data.dataset.siteName }}
    </span>
  </div>
  <div class="col-sm-3 text-right">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <h5 mat-line><strong>Arithmetic Mean</strong></h5>
      <p mat-line>-0.01</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Geometric Mean</strong></h5>
      <p mat-line>0.08</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Maximum</strong></h5>
      <p mat-line>1485</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Minimum</strong></h5>
      <p mat-line>790</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Standard Deviation</strong></h5>
      <p mat-line>0.02</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Number of Observations</strong></h5>
      <p mat-line>120</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>10%</strong></h5>
      <p mat-line>-0.01</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>25%</strong></h5>
      <p mat-line>0.01</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>Median, 50%</strong></h5>
      <p mat-line>-0.02</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>75%</strong></h5>
      <p mat-line>-0.03</p>
    </mat-list-item>
    <mat-list-item>
      <h5 mat-line><strong>90%</strong></h5>
      <p mat-line>0.00</p>
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions>
  <div class="row" style="width: 100%;">
    <div class="col-sm-12 text-right">
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>

</div>

