<div class="row">
  <div class="col-xs-9">
    <h5 md-dialog-title>{{ data.dataset.variableName }}</h5>
    <span class="text-muted">
      at {{ data.dataset.siteName }}
    </span>
  </div>
  <div class="col-xs-3 text-right">
    <button md-icon-button md-dialog-close>
      <md-icon>close</md-icon>
    </button>
  </div>
</div>

<div md-dialog-content>
  <md-list>
    <md-list-item>
      <h5 md-line><strong>Arithmetic Mean</strong></h5>
      <p md-line>-0.01</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Geometric Mean</strong></h5>
      <p md-line>0.08</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Maximum</strong></h5>
      <p md-line>1485</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Minimum</strong></h5>
      <p md-line>790</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Standard Deviation</strong></h5>
      <p md-line>0.02</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Number of Observations</strong></h5>
      <p md-line>120</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>10%</strong></h5>
      <p md-line>-0.01</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>25%</strong></h5>
      <p md-line>0.01</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>Median, 50%</strong></h5>
      <p md-line>-0.02</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>75%</strong></h5>
      <p md-line>-0.03</p>
    </md-list-item>
    <md-list-item>
      <h5 md-line><strong>90%</strong></h5>
      <p md-line>0.00</p>
    </md-list-item>
  </md-list>
</div>

<div md-dialog-actions>
  <div class="row" style="width: 100%;">
    <div class="col-xs-12 text-right">
      <button md-button md-dialog-close>Close</button>
    </div>
  </div>

</div>

