<div class="row" style="height: 100%;">
  <mat-sidenav-container style="width:100%;">
    <mat-sidenav #sidenav mode="side" opened="true">
      <div class="sidenav-header">
        <div class="row">
          <div class="col-sm-6">
            <mat-icon>filter_list</mat-icon>
            <span>Filters</span>
          </div>
          <div class="col-sm-6 text-right">
            <mat-icon matTooltip="Clear All" matTooltipPosition="right"
                      (click)="this.dataService.clearAllFilters()"
                      style="cursor: pointer;">highlight_off
            </mat-icon>
          </div>
        </div>
      </div>

      <div class="sidenav-body">
        <app-filters></app-filters>
      </div>

      <div class="sidenav-footer"
           (click)="sidenav.close(); onNavBarClose()"
           matTooltip="Hide filters" matTooltipPosition="above">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
    </mat-sidenav>

    <app-tabs></app-tabs>
  </mat-sidenav-container>
  <button id="btnShowFilters"
          matTooltip="Show filters"
          matTooltipPosition="right"
          *ngIf="!sideNavVisible" mat-mini-fab (click)="sidenav.open(); onNavBarOpen()">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>
