<div class="row" style="height: 100%;">
    <md-sidenav-container style="width:100%;">
      <md-sidenav #sidenav mode="side" opened="true">
        <div class="sidenav-header">
          <div class="row">
            <div class="col-sm-6">
              <md-icon>filter_list</md-icon>
              <span>Filters</span>
            </div>
            <div class="col-sm-6 text-right">
              <md-icon mdTooltip="Clear All" mdTooltipPosition="right" style="cursor: pointer;">highlight_off</md-icon>
            </div>
          </div>
        </div>

        <div class="sidenav-body">
          <app-filters></app-filters>
        </div>

        <div class="sidenav-footer"
             (click)="sidenav.close(); onNavBarClose()"
             mdTooltip="Hide filters" mdTooltipPosition="above"
        >
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
      </md-sidenav>

      <app-tabs></app-tabs>
    </md-sidenav-container>
    <button id="btnShowFilters"
            mdTooltip="Show filters"
            mdTooltipPosition="right"
            *ngIf="!sideNavVisible" md-mini-fab (click)="sidenav.open(); onNavBarOpen()">
      <md-icon>filter_list</md-icon>
    </button>
  </div>
