mat-sidenav {
  padding: 12px;
  width: 250px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding: 0;
}

.sidenav-body, .sidenav-header {
  padding: 12px 18px;
}

.sidenav-body {
  padding: 0;
}
.sidenav-header {
  border-bottom: 1px solid #DDD;
}

.sidenav-footer {
  border-top: 1px solid #DDD;
  background: #FAFAFA;
  padding: 4px;
  cursor: pointer;
  height: 32px;
}

.sidenav-footer:hover {
  background-color: #eaeaea;
}

#btnToggleSideNav {
  width: 100%;
  text-align: right;
}

.sidenav-body {
  height: calc(100% - 84px);
  overflow: auto;
}

#btnShowFilters {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.sidenav-header mat-icon {
  vertical-align: middle;
}
