<div class="row">
  <div class="col-sm-9">
    <h5 mat-dialog-title>Blue-green algae (cyanobacteria), phycocyanin</h5>
    <h5 classs="text-muted">at Red Butte Creek</h5>
  </div>
  <div class="col-sm-3 text-right">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div id="treeContainer" #containerTree></div>
</div>

<div mat-dialog-actions>
  <div class="row" style="width: 100%;">
    <div class="col-sm-12 text-right">
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
</div>



