<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
      <span>Map</span>
    </ng-template>

    <app-map></app-map>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>view_list</mat-icon>
      <span>Results</span>
    </ng-template>
    <app-results></app-results>
  </mat-tab>

  <!--<mat-tab>-->
    <!--<ng-template mat-tab-label>-->
      <!--<mat-icon>assignment</mat-icon>-->
      <!--<span>Details</span>-->
    <!--</ng-template>-->
    <!--<div class="col-xs-12">-->
      <!--<app-details></app-details>-->
    <!--</div>-->
  <!--</mat-tab>-->

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assessment</mat-icon>
      <span>Visualization</span>
    </ng-template>
    <div class="container-fluid" id="visualizationContainer">
        <app-visualization></app-visualization>
    </div>
  </mat-tab>
</mat-tab-group>
