<md-card>
  <md-card-header>
    <!--<md-card-title>Data format</md-card-title>-->
  </md-card-header>

  <md-card-content>
    <md-button-toggle-group
      [(ngModel)]="plotType"
      (change)="visualizationService.setPlotType(plotType)"
    >
      <md-button-toggle [value]="visualizationService.plotTypes.timeSeries">
        Time Series
      </md-button-toggle>
      <md-button-toggle [value]="visualizationService.plotTypes.location">
        Location
      </md-button-toggle>
      <md-button-toggle [value]="visualizationService.plotTypes.correlation">
        Correlation
      </md-button-toggle>
    </md-button-toggle-group>
  </md-card-content>

  <br><br>

  <md-card-header>
    <md-card-title>Datasets</md-card-title>
  </md-card-header>

  <md-card-content>
    <table class="table">
      <tr *ngFor="let dataset of datasets; let i = index">
        <td>
          <button md-icon-button
                  [mdTooltip]="dataset.visible ? 'Shown' : 'Hidden'"
                  [mdTooltipShowDelay]="500"
                  (click)="toggleVisibility(i)">
            <md-icon [style.color]="dataset.visible? 'steelblue' : '#AAA'"
            >
              {{ dataset.visible == true ? "visibility" : "visibility_off" }}
            </md-icon>
          </button>
        </td>
        <th>
          <span><md-icon style="color:steelblue;">stop</md-icon>{{ dataset.variableName }}</span>
          <br>
          <small class="text-muted">
            {{ dataset.siteName }}
          </small>
        </th>
        <td>
          <button md-icon-button
                  mdTooltip="View Summary Statistics"
                  [mdTooltipShowDelay]="500"
                  (click)="openDialog(dataset)">
            <md-icon style="color:steelblue;">show_chart</md-icon>
          </button>
        </td>
        <td *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.correlation">
          <button md-icon-button
                  mdTooltip="Select as x-axis"
                  [mdTooltipShowDelay]="500"
                  (click)="xAxisDataset=i">
            <md-icon [color]="'accent'">
              {{ xAxisDataset == i ? "radio_button_checked" : "radio_button_unchecked" }}
            </md-icon>
          </button>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>
