<mat-card>
  <mat-card-header>
    <!--<mat-card-title>Data format</mat-card-title>-->
  </mat-card-header>

  <mat-card-content>
    <mat-button-toggle-group
      [(ngModel)]="plotType"
      (change)="visualizationService.setPlotType(plotType)"
    >
      <mat-button-toggle [value]="visualizationService.plotTypes.timeSeries">
        Time Series
      </mat-button-toggle>
      <mat-button-toggle [value]="visualizationService.plotTypes.location">
        Location
      </mat-button-toggle>
      <mat-button-toggle [value]="visualizationService.plotTypes.correlation">
        Correlation
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>

  <br><br>

  <mat-card-header>
    <mat-card-title>Datasets</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table class="table options-table">
      <tr *ngFor="let dataset of datasets; let i = index">
        <td [style.border-left]="'6px solid' + colors(i)">
          <button mat-icon-button
                  [matTooltip]="dataset.visible || xAxisDataset == i ? 'Shown' : 'Hidden'"
                  [matTooltipShowDelay]="500"
                  [disabled]="xAxisDataset == i"
                  (click)="toggleVisibility(i)">
            <mat-icon [style.color]="dataset.visible || xAxisDataset == i? 'steelblue' : '#AAA'"
            >
              {{ dataset.visible || xAxisDataset == i ? "visibility" : "visibility_off" }}
            </mat-icon>
          </button>
        </td>
        <td *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.correlation">
          <button mat-icon-button
                  matTooltip="Select as x-axis"
                  [matTooltipShowDelay]="500"
                  (click)="xAxisDataset=i">
            <mat-icon [color]="'accent'">
              {{ xAxisDataset == i ? "radio_button_checked" : "radio_button_unchecked" }}
            </mat-icon>
          </button>
        </td>
        <th>
          <span>
            <!--<mat-icon [style.color]="colors(i)">stop</mat-icon>-->
            {{ dataset.variableName }}
          </span>
          <br>
          <small class="text-muted">
            {{ dataset.siteName }}
          </small>
        </th>
        <td>
          <button mat-icon-button
                  matTooltip="View Summary Statistics"
                  [matTooltipShowDelay]="500"
                  (click)="openDialog(dataset)">
            <mat-icon style="color:steelblue;">event_note</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
