.sidenav-filter-name {
  text-transform: uppercase;
  line-height: 24px;
}

.filter-item {
  padding: 8px 20px;
  border-bottom: 1px solid #DDD;
  font-size: 12px;
}

mat-icon {
  vertical-align: middle;
}

mat-checkbox {
  display: inline-block;
  width: calc(100% - 25px);
}

.mat-expansion-panel-body {
  padding: 0;
  overflow: hidden;
}

mat-expansion-panel-header {
  border: 1px solid #ddd;
  border-right: 0;
  background: #eaecf7 !important
}

mat-expansion-panel {
  margin: 10px;
}

