.sidenav-filter-name {
  text-transform: uppercase;
}

.filter-item {
  padding: 8px 20px;
  border-bottom: 1px solid #DDD;
  font-size: 12px;
}

md-icon {
  vertical-align: middle;
}

md-checkbox {
  display: inline-block;
  width: calc(100% - 21px);
}

.mat-expansion-panel-body {
  padding: 0;
}

md-expansion-panel-header {
  border: 1px solid #ddd;
  border-right: 0;
  background: #f3f3f3 !important;
}

md-expansion-panel {
  margin: 10px;
}
