.example-spacer {
  flex: 1 1 auto;
}

#btnSelectView {
  width: 100px;
}

#specimen-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  margin-top: 20px;
}

#specimen-table-container md-table {
  min-width: 1290px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.plotting {
  vertical-align: middle;
}

.custom-input-addon {
  top: -3px;
  left: -7px;
}

.mat-table {
  overflow: auto;
}

.cdk-column-selection {
    max-width: 40px;
}

.cdk-column-actions {
    min-width: 127px;
}

.mat-header-row {
  background: #3f51b5;
}

.mat-header-cell {
  color: #FFF;
}

md-row:nth-child(even) {
  background: #eaecf7;
}

label {
  font-weight: bold;
}

.btn-group {
  border-radius: 4px;
}

.input-group-addon {
  border: 0;
}

#btnClearPlots {
  cursor: pointer;
}
