<div class="row">
  <div class="col-12 col-sm-8">
    <mat-card id="visualization-card">
      <mat-card-header>
        <div class="row" style="width: 100%;">
          <div class="col-sm-8">
            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.boxPlot">
              <mat-input-container style="margin-left:12px;">
                <input matInput [matDatepicker]="beginDate" placeholder="Begin Date">
                <mat-datepicker-toggle matSuffix [for]="beginDate"></mat-datepicker-toggle>
              </mat-input-container>

              <mat-datepicker #beginDate></mat-datepicker>

              <mat-input-container style="margin-left:12px;">
                <input matInput [matDatepicker]="endDate" placeholder="End Date">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              </mat-input-container>

              <mat-datepicker #endDate></mat-datepicker>
            </div>

            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.lineChart">
              <mat-button-toggle-group
                [(ngModel)]="selectedLineChartView"
                (change)="visualizationService.setLineChartView(selectedLineChartView)">
                <mat-button-toggle [value]="visualizationService.lineChartViews.point">
                  <span>● Point</span>
                </mat-button-toggle>

                <mat-button-toggle [value]="visualizationService.lineChartViews.line">
                  <mat-icon>show_chart</mat-icon>
                  <span> Line</span>
                </mat-button-toggle>

                <mat-button-toggle [value]="visualizationService.lineChartViews.both">
                  <mat-icon>timeline</mat-icon>
                  <span> Both</span>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.histogram">
              <mat-button-toggle-group
                [(ngModel)]="histogramTicks"
                (change)="visualizationService.setHistogramTicks(histogramTicks)">
                <!--<mat-button-toggle [value]="visualizationService.histogramTickTypes.day">-->
                <!--<span>Day</span>-->
                <!--</mat-button-toggle>-->
                <mat-button-toggle [value]="visualizationService.histogramTickTypes.week">
                  <span>Week</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="visualizationService.histogramTickTypes.month">
                  <span>Month</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="visualizationService.histogramTickTypes.sixMonths">
                  <span>Six Months</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="visualizationService.histogramTickTypes.year">
                  <span>Year</span>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.scatterPlot">
              <mat-slider
                [(ngModel)]="selectedPointRadius"
                (change)="visualizationService.setPointRadius(selectedPointRadius)"
                min="3" max="10" step="1" value="3"></mat-slider>
            </div>
          </div>

          <div class="col-sm-4 text-right">
            <mat-button-toggle-group
              [(ngModel)]="selectedChart"
              (change)="visualizationService.setCurrentChart(selectedChart)">
              <mat-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.correlation"
                [value]="visualizationService.charts.scatterPlot"
                matTooltip="Scatter plot" [matTooltipShowDelay]="500">
                <mat-icon>grain</mat-icon>
              </mat-button-toggle>

              <mat-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries"
                [value]="visualizationService.charts.lineChart"
                matTooltip="Point and Line" [matTooltipShowDelay]="500">
                <mat-icon>multiline_chart</mat-icon>
              </mat-button-toggle>

              <mat-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries"
                [value]="visualizationService.charts.histogram"
                matTooltip="Histogram" [matTooltipShowDelay]="500">
                <mat-icon>equalizer</mat-icon>
              </mat-button-toggle>

              <mat-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries || visualizationService.getPlotType() == visualizationService.plotTypes.location"
                [value]="visualizationService.charts.boxPlot"
                matTooltip="Box and Whisker" [matTooltipShowDelay]="500">
                <mat-icon>view_week</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <app-line-chart
          *ngIf="selectedChart==visualizationService.charts.lineChart">
        </app-line-chart>
        <app-histogram
          *ngIf="selectedChart==visualizationService.charts.histogram">
        </app-histogram>
        <app-scatter-plot
          *ngIf="selectedChart==visualizationService.charts.scatterPlot">
        </app-scatter-plot>
        <app-box-plot
          *ngIf="selectedChart==visualizationService.charts.boxPlot">
        </app-box-plot>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="row">
      <div class="col-sm-12">
        <app-plot-options></app-plot-options>
      </div>
    </div>
  </div>
</div>




