<div class="row">
  <div class="col-xs-12 col-sm-8">
    <md-card id="visualization-card">
      <md-card-header>
        <div class="row" style="width: 100%;">
          <div class="col-xs-8">
            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.boxPlot">
              <md-input-container style="margin-left:12px;">
                <input mdInput [mdDatepicker]="beginDate" placeholder="Begin Date">
                <md-datepicker-toggle mdSuffix [for]="beginDate"></md-datepicker-toggle>
              </md-input-container>

              <md-datepicker #beginDate></md-datepicker>

              <md-input-container style="margin-left:12px;">
                <input mdInput [mdDatepicker]="endDate" placeholder="End Date">
                <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
              </md-input-container>

              <md-datepicker #endDate></md-datepicker>
            </div>

            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.lineChart">
              <md-button-toggle-group
                [(ngModel)]="selectedLineChartView"
                (change)="visualizationService.setLineChartView(selectedLineChartView)">
                <md-button-toggle [value]="visualizationService.lineChartViews.point">
                  <span>● Point</span>
                </md-button-toggle>

                <md-button-toggle [value]="visualizationService.lineChartViews.line">
                  <md-icon>show_chart</md-icon><span> Line</span>
                </md-button-toggle>

                <md-button-toggle [value]="visualizationService.lineChartViews.both">
                  <md-icon>timeline</md-icon><span> Both</span>
                </md-button-toggle>
              </md-button-toggle-group>
            </div>

            <div *ngIf="visualizationService.getCurrentChart() == visualizationService.charts.histogram">
              <md-button-toggle-group
                [(ngModel)]="histogramTicks"
                (change)="visualizationService.setHistogramTicks(histogramTicks)">
                <!--<md-button-toggle [value]="visualizationService.histogramTickTypes.day">-->
                  <!--<span>Day</span>-->
                <!--</md-button-toggle>-->
                <md-button-toggle [value]="visualizationService.histogramTickTypes.week">
                  <span>Week</span>
                </md-button-toggle>
                <md-button-toggle [value]="visualizationService.histogramTickTypes.month">
                  <span>Month</span>
                </md-button-toggle>
                <md-button-toggle [value]="visualizationService.histogramTickTypes.sixMonths">
                  <span>Six Months</span>
                </md-button-toggle>
                <md-button-toggle [value]="visualizationService.histogramTickTypes.year">
                  <span>Year</span>
                </md-button-toggle>
              </md-button-toggle-group>
            </div>
          </div>

          <div class="col-xs-4 text-right">
            <md-button-toggle-group
              [(ngModel)]="selectedChart"
              (change)="visualizationService.setCurrentChart(selectedChart)">
              <md-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.correlation"
                [value]="visualizationService.charts.scatterPlot"
                mdTooltip="Scatter plot" [mdTooltipShowDelay]="500">
                <md-icon>grain</md-icon>
              </md-button-toggle>

              <md-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries"
                [value]="visualizationService.charts.lineChart"
                mdTooltip="Point and Line" [mdTooltipShowDelay]="500">
                <md-icon>multiline_chart</md-icon>
              </md-button-toggle>

              <md-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries"
                [value]="visualizationService.charts.histogram"
                mdTooltip="Histogram" [mdTooltipShowDelay]="500">
                <md-icon>equalizer</md-icon>
              </md-button-toggle>

              <md-button-toggle
                *ngIf="visualizationService.getPlotType() == visualizationService.plotTypes.timeSeries || visualizationService.getPlotType() == visualizationService.plotTypes.location"
                [value]="visualizationService.charts.boxPlot"
                mdTooltip="Box and Whisker" [mdTooltipShowDelay]="500">
                <md-icon>view_week</md-icon>
              </md-button-toggle>
            </md-button-toggle-group>
          </div>
        </div>
      </md-card-header>

      <md-card-content>
        <app-line-chart
          *ngIf="selectedChart==visualizationService.charts.lineChart">
        </app-line-chart>
        <app-histogram
          *ngIf="selectedChart==visualizationService.charts.histogram">
        </app-histogram>
        <app-scatter-plot
          *ngIf="selectedChart==visualizationService.charts.scatterPlot">
        </app-scatter-plot>
        <app-box-plot
          *ngIf="selectedChart==visualizationService.charts.boxPlot">
        </app-box-plot>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="row">
      <div class="col-xs-12">
        <app-plot-options></app-plot-options>
      </div>
    </div>
  </div>
</div>




